<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">

    <div class="container">

        <!-- LOGO -->

        <a class="navbar-brand fw-bold d-flex align-items-center" href="/">

            <div class="logo-circle me-2">
                SI
            </div>

            <div>

                <span class="text-dark">
                    SmartInventory
                </span>

                <small class="d-block text-muted">
                    Informatika
                </small>

            </div>

        </a>

        <!-- MOBILE BUTTON -->

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- MENU -->

        <div
            class="collapse navbar-collapse"
            id="navbarNav"
        >

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">

                    <a
                        class="nav-link px-3"
                        href="/"
                    >
                        Home
                    </a>

                </li>

                <li class="nav-item">

                    <a
                        class="nav-link px-3"
                        href="/about/"
                    >
                        About
                    </a>

                </li>

                <li class="nav-item ms-lg-3">

                    <a
                        href="/admin/"
                        class="btn btn-primary px-4"
                    >
                        Admin Panel
                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>