{% extends 'public/base_public.html' %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="card p-4">
      <h4>{% if form.instance.pk %}Edit Supplier{% else %}Tambah Supplier{% endif %}</h4>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
          <label class="form-label">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}
        <div>
          <button class="btn btn-primary">Simpan</button>
          <a href="{% url 'supplier_list' %}" class="btn btn-outline-secondary">Batal</a>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
